<a href="https://colab.research.google.com/github/Markus095/algo3_tp2/blob/master/tp1_orga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Para las pelÃ­culas que contienen el gÃ©nero de acciÃ³n, si las separamos entre pelÃ­culas antes del 2000
#y despuÃ©s del 2000, Â¿cuÃ¡l es el promedio de cantidad de votos para cada etapa?
import pandas as pd

peliculas = pd.read_csv("movies.csv")
peliculas_limpias = peliculas[["genres","release_date"]]
peliculas_limpias

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                         genres release_date
0       Animation,Comedy,Family   1995-10-30
1      Adventure,Fantasy,Family   1995-12-15
2                Romance,Comedy   1995-12-22
3          Comedy,Drama,Romance   1995-12-22
4                        Comedy   1995-02-10
...                         ...          ...
45461              Drama,Family          NaN
45462                     Drama   2011-11-17
45463     Action,Drama,Thriller   2003-08-01
45464                       NaN   1917-10-21
45465                       NaN   2017-06-09

[45466 rows x 2 columns]